[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"mastodon.py" = "*"
python-dotenv = "*"
playwright = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.11"
