[project]
name = ""
version = "0.0.1"
requires-python = "~=3.11"
dependencies = [
    "requests",
    "mastodon.py",
    "python-dotenv",
    "playwright",
]

[dependency-groups]
dev = [
    "ruff",
    "pytest",
]

[tool.uv]
package = false

[[tool.uv.index]]
name = "pypi"
url = "https://pypi.org/simple"
